@import "~bootstrap-icons/font/bootstrap-icons.css";
/* .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px; */
  /* left: 0;
  top: 0;
  right: 0;
  bottom: 0; */
  /* width: 376px;
  height: 100%;
  z-index: 100;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .9);
  margin: auto;
} */

/* .container .container-view {  
  padding: 20px;
  text-align:start;
  margin-top: 80px;
} */

/* .container-view {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
} */

.container .container-view ul li {
 
  
}

.call-container {
  border: 1px solid #ddd; 
  padding: 10px;
  margin-bottom: 10px; 
  background-color: #f9f9f9; 
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .9);
}







