@import "~bootstrap-icons/font/bootstrap-icons.css";

.call-direction {  
  margin: 5px;    
  margin-top: 5px;   
}

.call-details {
  display: flex;
  justify-content: space-between;
  margin: -5px;
  margin-top: 5px;       
}
.call-details span {
  margin-top: 5px;   
  margin-right: 10px;       
}

.call-archived {
  display: flex;
  justify-content: space-between;
  margin: 5px;   
  
  gap: 160px;
}

